USE [master]
GO
/****** Object:  Database [ErpDB]    Script Date: 03.04.2014 10:09:58 ******/
CREATE DATABASE [ErpDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ErpDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\ErpDB.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ErpDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\ErpDB_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ErpDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ErpDB]
GO
/****** Object:  Table [dbo].[Artikel]    Script Date: 03.04.2014 10:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Artikel](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Bezeichnung] [varchar](50) NULL,
	[PreisNetto] [float] NULL,
 CONSTRAINT [PK_Artikel] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Kunde]    Script Date: 03.04.2014 10:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Kunde](
	[ID] [int] NOT NULL,
	[UID] [int] NULL,
	[Firmenname] [varchar](30) NULL,
	[Titel] [varchar](15) NULL,
	[Vorname] [varchar](25) NULL,
	[Nachname] [varchar](25) NULL,
	[Geburtsdatum] [date] NULL,
	[Adresse] [varchar](30) NULL,
	[Rechnungsadresse] [varchar](30) NULL,
	[Lieferadresse] [varchar](30) NULL,
 CONSTRAINT [PK__Kontakt__3214EC27BF6C4469] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Rechnung]    Script Date: 03.04.2014 10:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Rechnung](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Kunde_ID] [int] NULL,
	[Datum] [date] NULL,
	[Fälligkeit] [date] NULL,
	[Kommentar] [varchar](100) NULL,
	[Nachricht] [varchar](100) NULL,
	[MWSt] [float] NULL,
	[Netto] [float] NULL,
	[Brutto] [float] NULL,
 CONSTRAINT [PK__Rechnung__3214EC278CC56FD2] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Rechnungspositionen]    Script Date: 03.04.2014 10:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rechnungspositionen](
	[Rechnung_ID] [int] NOT NULL,
	[Artikel_ID] [int] NOT NULL,
	[Menge] [int] NULL,
 CONSTRAINT [PK_Rechnungspositionen] PRIMARY KEY CLUSTERED 
(
	[Rechnung_ID] ASC,
	[Artikel_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Rechnung]  WITH CHECK ADD  CONSTRAINT [FK__Rechnung__K_ID__1273C1CD] FOREIGN KEY([Kunde_ID])
REFERENCES [dbo].[Kunde] ([ID])
GO
ALTER TABLE [dbo].[Rechnung] CHECK CONSTRAINT [FK__Rechnung__K_ID__1273C1CD]
GO
ALTER TABLE [dbo].[Rechnungspositionen]  WITH CHECK ADD  CONSTRAINT [FK_Rechnungspositionen_Artikel] FOREIGN KEY([Artikel_ID])
REFERENCES [dbo].[Artikel] ([ID])
GO
ALTER TABLE [dbo].[Rechnungspositionen] CHECK CONSTRAINT [FK_Rechnungspositionen_Artikel]
GO
ALTER TABLE [dbo].[Rechnungspositionen]  WITH CHECK ADD  CONSTRAINT [FK_Rechnungspositionen_Rechnung] FOREIGN KEY([Rechnung_ID])
REFERENCES [dbo].[Rechnung] ([ID])
GO
ALTER TABLE [dbo].[Rechnungspositionen] CHECK CONSTRAINT [FK_Rechnungspositionen_Rechnung]
GO
USE [master]
GO
